<div class="row">
  <div class="col-md-6">
    <%= form_with(model: project) do |form| %>
      <% if project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
            <% project.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= form.label :details %>
        <%= form.text_field :details, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :expected_completion_date %>
        <%= form.text_field :expected_completion_date, class: "flatpickr" %>
      </div>

      <div class="actions">
        <%= form.submit class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
