<h1>Projects</h1>

  <% if @projects.count > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Details</th>
          <th scope="col">Expected completion date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td scope="row"><%= project.title %></td>
            <td><%= project.details %></td>
            <td><%= project.expected_completion_date %></td>
            <td>
              <%= link_to project, class: "btn btn-primary" do %>
                <%= fa_icon 'eye' %>
              <% end %>
              <% if current_user.is_admin? %>
                <%= link_to edit_project_path(project), class: "btn btn-warning" do %>
                  <%= fa_icon 'edit' %>
                <% end %>
              <% end %>
              <%= link_to project_users_path(project), class: "btn btn-secondary" do %>
                <%= fa_icon 'users' %>
              <% end %>
              <% if current_user.is_admin? %>
                <%= link_to project, class: "btn btn-danger", method: :delete,  data: { confirm: 'Are you sure?' } do %>
                  <%= fa_icon 'trash' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="lead">You don't have any project yet !</p>
  <% end %>


  <br>

<% if current_tenant.can_create_project? %>
  <%= link_to new_project_path, class: "btn btn-success pull-right" do %>
    <%= fa_icon 'plus' %>
    New Project
  <% end %>
<% end %>